html {
  background-color: rgb(247, 246, 204);
  margin: 0;
  width: 100vw;
  height: 100vh;
}

img.left {
  float: left;
}

body {
  font-family: sans-serif;
}

.header img {
  position: center;
  text-align: center;
  margin: auto;
  float: center;
  align-self: center;
  width: 100vh;
  height: 50vh;
}

image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float: left;
}

#menu ul {
  list-style: none;
  padding: 2vh;
  width: 70%;
  margin: auto;
}

#menu li {
  background-color: rgb(236, 188, 142);
  border: none;
  text-align: center;
  text-decoration: cornsilk;
  font-size: 16px;
  list-style-type: none;
  border-radius: 25px;
  display: inline-block;
}

li a {
  color: black;
  text-align: center;
  display: inline-block;
  padding: 20px;
}

#history {
  padding-left: 10vh;
  padding-top: 10vh;
  display: flex;
  max-width: 100%;
}

#indexp1 {
  color: black;
  display: inline-block;
  position: relative;
  left: 7vh;
  width: auto;
  height: auto;

  font-style: normal;
  font-weight: 2vh;
  font-size: 2vh;
}

#types {
  padding-top: 10vh;
  padding-right: 10vh;
  max-width: 100%;
  text-align: center;
}

#indexp2 {
  display: flex;
  color: black;
  font-style: normal;
  font-weight: 200;
  font-size: 2vh;
}

#indexp2 p {
  padding-right: 20px;
}

#buildings {
  padding-left: 10vh;
  padding-top: 10vh;
  display: flex;
  max-width: 100%;
  text-align: center;
}

#indexp3 {
  display: flex;
  color: black;
  font-style: normal;
  font-weight: 200;
  font-size: 2vh;
  margin-left: 10px;
}

#usage {
  padding-top: 10vh;
  padding-right: 10vh;
  display: flex;
  float: right;
  max-width: 100%;
}

#indexp4 {
  color: black;
  display: inline-block;
  position: relative;
  left: 7vh;
  width: auto;
  height: auto;

  font-style: normal;
  font-weight: 200;
  font-size: 2vh;
}

#about {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
}
#des {
  font-size: 2vh;
}
.footer {
  background-color: rgb(236, 188, 142);
  padding: 20vh;
  position: relative;
  display: flex;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
